body {
    background-image:url('https://wallpapers.com/images/high/black-and-white-aesthetic-granite-lines-7bg5ey1da8fhmvd9.webp');
    background-size: cover;
}

img {
    width:300px;
    height:250px;
    cursor:pointer;
}

p1 {
    color:white;
    font-size:40px;
}